<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Just a demo</title>
  style
    include ../static/demostyle.css
</head>
<body>
  <h1>the title is 
    |#{title}
  </h1>
    <p>The message is 
      |#{message}
    </p>

</body>
</html>